---
import type { PrayerTime } from '../../types/prayer';

interface Props {
    times: PrayerTime[];
}

const { times } = Astro.props;
---
<div class="shabbat">
    <h3>שבת</h3>
    <ul>
        {times.map(({ name, time }) => (
            <li>{name}: <span>{time}</span></li>
        ))}
    </ul>
</div>